<nav class="navbar navbar-expand-md" *ngIf="{userProfile: userProfile$ | async, url: url$ | async} as data">
    <div class="container-xxl">
        <a routerLink="/home" class="navbar-brand d-flex">
            <em class="material-icons">home</em>
            <span class="fw-bold text-secondary">Home</span>
        </a>
        <!-- Toggle button for mobile nav -->
        <button class="navba-toggler d-md-none items-align-center" type="button" data-bs-toggle="collapse"
            data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation"
            *ngIf="data.url !== '/login'">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navigation bar links -->
        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav"
            *ngIf="data.url !== '/login'">
            <ul class="navbar-nav">
                <li *ngIf="data.userProfile" class="d-md-none">
                    <span class="fw-bold me-2">Welcome {{ data.userProfile.info.name }}</span>
                    <a routerLink="/logout" class="btn btn-secondary btn-sm">
                        <em class="material-icons">logout</em>
                    </a>
                </li>
                <li class="nav-item d-md-none" *ngIf="!data.userProfile">
                    <a routerLink="/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item ms-2 d-none d-md-inline">
                    <ng-container *ngIf="data.userProfile; else loginTemplate">
                        <span class="fw-bold me-2">Welcome {{ data.userProfile.info.name }}</span>
                        <a routerLink="/logout" class="btn btn-secondary">
                            <em class="material-icons">logout</em>
                        </a>
                    </ng-container>
                    <ng-template #loginTemplate>
                        <a routerLink="/login" class="btn btn-secondary d-flex login-link">
                            <em class="material-icons">login</em>
                            <span class="ms-2">Login</span>
                        </a>
                    </ng-template>
                </li>
                <li class="nav-item">
                    <a routerLink="/objectives" class="nav-link">Objectives</a>
                </li>
            </ul>
        </div>
    </div>
</nav>